* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-user-drag: none;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background: white;
    font-family: 'oswald';
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #e2012d, darkred);
}


.big-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to bottom right, rgb(51, 47, 47), black);
    padding: 100px 10em;
    color: white;
    border-radius: 30px;
    font-size: 1.2em;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.big-cont a {
    color: #e2012d;
}

.txt-cont {
    margin-top: 5px;
}

.redirect-cont {
    margin-top: 20px;
    display: none;
}

.fa-spinner {
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}